@font-face {
    font-family: Avenir;
    font-weight: 300;
    src: url("/static/Avenir/AvenirLTStd-Light.otf") format("opentype");
}
@font-face {
    font-family: Avenir;
    font-weight: bold;
    src: url("/static/Avenir/AvenirLTStd-Roman.otf") format("opentype");
}
@font-face {
    font-family: Avenir;
    src: url("/static/Avenir/AvenirLTStd-Book.otf") format("opentype");
}

html {
	height: 100%;
}
body {
	margin: 0px;
	background-color: #24272A;
	color: #F7F7F7;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
}
a, a:hover, a:visited {
	color: #F7F7F7;
	text-decoration: none;
}
em {
	color: #0DFFAE;
	font-style: normal;
}
header {
	border-bottom: 1px solid #ABAEB7;
}
h1.centered,
h2.centered,
h3.centered,
h4.centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
h1.bottom-margin,
h2.bottom-margin,
h3.bottom-margin,
h4.bottom-margin {
	margin-bottom: 40px;
}
h1, h2, h3 {
	color: #D8D8D8;
}
h1 {
	font-size: 48px;
	font-weight: lighter;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 24px;
}
@media screen and (max-width: 799px) {
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 26px;
	}
	h3 {
		font-size: 16px;
		line-height: 22px;
		font-weight: 900;
	}
}
strong {
	font-size: 20px;
}
button, .button {
	font-weight: 900;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	border-radius: 8px;
	text-align: center;
	padding: 4px 10px;

	background: linear-gradient(180deg, #1EFFD7 0%, #0DFFAE 100%);
	border: 1px solid transparent;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.25);
	border-radius: 8px;
	color: #10383D;
	cursor: pointer;
}
a.button {
	color: #10383D;
}
button:hover, .button:hover {
	background: #20EFAE;
	color: #444;
	text-decoration: none;
}
button.hollow, .button.hollow {
	background: transparent;
	border: 1px solid #0DFFAE;
	padding: 3px 9px;
	color: #0DFFAE;
}
button.hollow[disabled="disabled"] {
	border: 1px solid #9B9B9B;
	color: #9B9B9B;
}
button.hollow:hover, .button.hollow:hover {
	background: #323237;
}
button.rounded, .button.rounded {
	width: 226px;
	height: 40px;
	background-color: #0DFFAE;
	border-radius: 100px;
}
p {
	color: #ABAEB7;
}
input {
	border-radius: 4px;
	background: #F7F7F7;
	color: black;
	font-size: 18px;
	padding: 8px 7px 7px 12px;
	border: 0px;
}
textarea {
	background-color: #D6D6D6;
	border: 0.5px solid #4A4A4A;
	border-radius: 4px;
    padding: 11px;
	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
	color: #4A4A4A;
}
.full {
	width: 100%;
}
.clear {
	display: block;
	clear: both;
}
.bordered {
	border: 1px solid #4A4A4A;
	border-radius: 4px;
}
table.divided tr td {
	padding: 9px 11px;
	margin: 0px;
	border-bottom: 1px solid #4A4A4A;
}
table.divided tr:last-child td {
	border-bottom: none;
}
footer,
section {
	margin-top: 100px;
}
section.solo {
	width: 492px;
	margin: 77px auto 116px auto;
	padding: 40px;
	background-color: #323237;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
	border-radius: 8px;
}
.solo h2 {
	text-align: center;
	margin: 5px auto 5px auto;
	color: #0DFFAE;
}
.solo h3 {

}
.solo p {
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	line-height: 19px;
	color: #D8D8D8;
	max-width: 230px;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (max-width: 600px) {
	section.solo {
		margin: 20px auto 20px auto;
		padding: 20px;
		width: 292px;
	}
}
.solo-noborder {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #9B9B9B;
	line-height: 19px;
	padding: 60px 0px 100px 0px;
}
.solo-noborder h1 {
	font-size: 30px;
	font-weight: 900;
	line-height: 41px;
	color: #D8D8D8;
	margin: 0px;
}
.solo-noborder h2 {
	font-size: 16px;
	font-weight: 900;
	line-height: 22px;
	color: #D8D8D8;
}


.radio-buttons {
	list-style-type:none;
	margin: 0 0 10px 0;
	padding:0;
	display: inline-block;
}
.radio-buttons li {
	float:left;
	margin:0 10px 0 0;
	width:100px;
	height:40px;
	position:relative;
}
.radio-buttons label, .radio-buttons input {
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.radio-buttons input[type="radio"] {
	opacity: 0.011;
	z-index: 100;
}
.radio-buttons input[type="radio"]:checked + label {
	background: #0DFFAE;
	color: #10383D;
}
.radio-buttons label {
	padding: 6px;
	border:1px solid #0DFFAE;
	color: #0DFFAE;
	cursor:pointer;
	z-index:90;
	border-radius: 6px;
	text-align: center;
}
.radio-buttons label:hover {
	background: #424247;
}
.radio-buttons-tall li, .radio-buttons-tall label {
	height: 55px;
	margin-bottom: 10px;
}

/* LOGIN */
#fb-login {
	height: 47.45px;
	background-color: #3955A2;
	border-radius: 8px;
	font-family: 'Lato';
	font-size: 14px;
	font-weight: 900;
	line-height: 19px;
	color: #F7F7F7;
	padding: 14px 5px 14px 14px;
	font-variant: small-caps;
	cursor: pointer;
}
#fb-login i {
	margin-left: 10px;
	margin-right: 27px;
	font-size: 18px;
}

.v--modal-overlay {
  background: rgba(255,255,255,.2) !important;
}
.rp-modal {
	padding: 25px;
	background-color: #24272A !important;
	border-radius: 3px;
	margin: 25px;
}
.rp-modal h1 {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	line-height: 25px;
	color: #ABAEB7;
	margin-bottom: 20px;
}
.rp-modal-close, .rp-modal-close:hover {
	border: none;
	background: none;
	color: white;
	position: absolute;
	right: 20px;
	top: 20px;
}

.bullet {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #4A4A4A;
  display: inline-block;
}

.rp-border {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
	border-radius: 4px;
	border: 1px solid #323237;
  background-color: #22262B;
  padding: 12px 8px;
}
.dropdown-arrow {
  opacity: 1;
  background: url(/static/imgs/thin_arrow.png) no-repeat scroll 0px 0px;
  transform: rotate(180deg);
  height: 15px;
  width: 12px;
  background-size: contain;
  display: block;
  margin: 10px 0px 5px 0px;
}


@media screen and (min-width: 800px) {
  .hide-on-desktop {
    display: none !important;
  }
}
@media screen and (max-width: 799px) {
  .hide-on-mobile {
    display: none !important;
  }
}

.date-picker-wrapper {
  clear: none;
  display: inline-block;
}
.date-picker {
  background: transparent;
  color: #0DFFAE;
  font-size: 12px;
  width: 60px;
  padding: 0px 0px 0px 0px; 
  position: relative;
}
.date-picker * {
  z-index:100;
}
.date-picker:focus {
  outline: none;
}
.vdp-datepicker__calendar {
  background-color: #323237 !important;
  border: none;
}
.vdp-datepicker__calendar header {
  border: none;
}
.vdp-datepicker__calendar header .next:after{
    border-left: 10px solid #9B9B9B;
}
.vdp-datepicker__calendar header .prev:after {
  border-right: 10px solid #9B9B9B;
}
select {
  background: transparent;
  color: #0DFFAE;
  border: none;
  padding: 0px 5px 0px 5px; 
  margin-left: -5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline:none;
  font-size: 12px;
  position: relative;
  top: -2px;
}
option {
  background-color: #323237;
  color: #0DFFAE;
}